* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("https://images.unsplash.com/photo-1508780709619-79562169bc64?auto=format&fit=crop&w=1350&q=80") no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(50deg,#ffff, #6dd5ed);
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 2px solid #b02164;
  border-radius: 8px;
  outline: none;
}

.input-section button {
  margin-left: 10px;
  padding: 10px 20px;
  background: #10c5a4;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.input-section button:hover {
  background: #14473d;
}

#taskList {
  list-style: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  background: #f3f3f3;
  border-radius: 8px;
  transition: 0.3s;
}

.task.completed span {
  text-decoration: line-through;
  color: gray;
}

.task button {
  background: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.task button:hover {
  background: darkred;
}

.task span {
  cursor: pointer;
}
